body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error, label.error {
    color: red;
}

.input-validation-error, input.error {
    border: 2px solid red;
}

.bet-premise-title {
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
}

.details-information {
    font-size: 12px;
    margin-bottom:12px;
}

.details-label {
    font-weight: bold;
    font-size: 12px;
}

.index-status-bar-button-group{
    margin-bottom: 15px;
}

.large-status-button {
    display: inline-block;
}

.small-status-button {
    display: none;
}

.status-message:not(#propose) {
    display: none;
}

.status-message{
    font-size: 2.5vw;
    margin-left: 4.5vw;
}

table.bets {
    border-collapse: collapse;
    width: 100% !Important;
}

td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

@media (max-width: 426px) {
    .large-status-button {
        display: none;
    }

    .small-status-button {
        font-size: 11px;
        display: inline-block;
    }

    .index-status-bar-button-group {
        margin-bottom: 10px;
    }

    .status-message {
        font-size: 4vw;
    }
}