@{
    ViewBag.Title = "Home Page";
}

<div class="img-responsive">
    <img src="/Content/Images/Shipit.jpg" width="100%" />
</div>

<div class="container" id="status-bar">
    <div class="btn-group btn-group-justified index-status-bar-button-group">
        <div class="status-button btn btn-primary" data-toggle="#propose"><span class="large-status-button" id="status-bar">Propose Bet</span><span class="small-status-button">Propose</span></div>
        <div class="status-button btn btn-default" data-toggle="#active"><span class="large-status-button">Active Bet</span><span class="small-status-button">Active</span></div>
        <div class="status-button btn btn-default" data-toggle="#winner"><span class="large-status-button">Declare Winner</span><span class="small-status-button">Winner</span></div>
        <div class="status-button btn btn-default" data-toggle="#settle"><span class="large-status-button">Settle Bet</span><span class="small-status-button">Settle</span></div>
    </div>
    <div class="well well-sm">
        <div class="status-message" id="propose">
            Think you know who's winning the Super Bowl? Think you're faster? Think you can eat a whole cake? Well, bet it.
        </div>
        <div class="status-message" id="active">
            And here we go... Who's gonna win?
        </div>
        <div class="status-message" id="winner">
            Did your team win? Were you too slow? Did you finish? Make sure history remembers.
        </div>
        <div class="status-message" id="settle">
            Congratulations Winners! Minstrels will sing of your feats. Sorry Losers. It's time to pay the piper.
        </div>
    </div>
    <input type="button" class="btn btn-info" value="Make New Bet" onclick="location.href='@Url.Action("New", "Bets")'" />
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("div[data-toggle]").on("click", function (e) {
                e.preventDefault();  // prevent navigating
                var selector = $(this).data("toggle");  // get corresponding element
                $(".status-message").hide();
                $(selector).show();
            });
        });
    </script>
}