@model ShipIt.ViewModels.BetsIndexViewModel

@{
    ViewBag.Title = "My Bets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.LookUpEmail == null)
{
    <h2>My Bets</h2>
}else{
    <h2>@Model.LookUpEmail's Bets</h2>
}

<table id="bets" class="bets table table-bordered table-hover">
    <thead>
        <tr>
            <th>Status</th>
            <th>Bet</th>
            <th>Wager</th>
            <th><span class="glyphicon glyphicon-user" aria-hidden="true"></span>1</th>
            <th><span class="glyphicon glyphicon-user" aria-hidden="true"></span>1 Wins If</th>
            <th><span class="glyphicon glyphicon-user" aria-hidden="true"></span>2</th>
            <th><span class="glyphicon glyphicon-user" aria-hidden="true"></span>2 Wins If</th>
            <th>Winner</th>
            <th>Date Created</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" />

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $("#bets").DataTable({
                ajax: {
                    url: "/api/bets/@Model.LookUpEmail/",
                    dataSrc: "",
                    error: function () {
                        bootbox.alert({
                            title: "No Bets Found",
                            message: "This user does not have any bets.",
                            backdrop: true
                        });
                    }
                },
                order: [[7, "desc"]],
                responsive: true,
                columns: [
                    {
                        data: "BetStatus",
                        
                    },
                    {
                        data: "BetPremise",
                        render: function (data, type, bet) {
                            return (bet.BetPremise)
                                ? "<a href='/bets/details/" + bet.BetId + "'>" + bet.BetPremise + "</a>"
                                : null;
                        }
                    },
                    {
                        data: "BetWager",
                        sDefaultContent: "None"
                    },
                    {
                        data: "User1",
                        render: function (data, type, bet) {
                            return (bet.User1)
                                ? "<a href='/bets/betsindex/" + bet.User1 + "/'>" + bet.User1 + "</a>"
                                : null;
                        }
                    },
                    {
                        data: "User1Condition",
                    },
                    {
                        data: "User2",
                        render: function (data, type, bet) {
                            return (bet.User1)
                                ? "<a href='/bets/betsindex/" + bet.User2 + "/'>" + bet.User2 + "</a>"
                                : null;
                        }
                    },
                    {
                        data: "User2Condition"
                    },
                    {
                        data: "BetWinner"
                    },
                    {
                        data: "StartDate"
                    }
                ]
            });
        });
    </script>
}