@model ShipIt.ViewModels.BetsIndexViewModel

@{
    ViewBag.Title = "My Bets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Bets</h2>

<table id="bets" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Status</th>
            <th>Bet</th>
            <th>Wager</th>
            <th>Bettor 1</th>
            <th>Bettor 1 Wins If</th>
            <th>Bettor 2</th>
            <th>Bettor 2 Wins If</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        //TODO: Not sure how to pass the id from viewmodel to grab other users bet index
        $(document).ready(function () {
            var table = $("#bets").DataTable({
                ajax: {
                    url: "/api/bets/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "BetStatus"
                    },
                    {
                        data: "BetPremise",
                        render: function (data, type, bet) {
                            return (bet.BetPremise)
                                ? "<a href='/bets/details/" + bet.BetId + "'>" + bet.BetPremise + "</a>"
                                : null;
                        }
                    },
                    {
                        data: "BetWager"
                    },
                    {
                        data: "User1"
                    },
                    {
                        data: "User1Condition",
                    },
                    {
                        data: "User2"
                    },
                    {
                        data: "User2Condition",
                    },
                    {
                        data: "StartDate",
                    },
                    {
                        data: "EndDate"
                    },
                ]
            });
        });
    </script>
}